@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}


.top-header{
    background-color: black;
}
.top-header span{
    width: 5px;
    height: 5px;
    background: white;
    display: inline-block;
    border-radius: 50%;
    margin-right: 15px;
}
.top-header a, .top-header li{
    color: #fff;
    font-weight: 600;
    font-size: 14px;

}

header{
    padding: 15px 0;
}
.logo{
    text-align: center;
    margin-bottom: 10px;
}
.logo a{
    color: #000;
    font-size: 2em;
    text-decoration: none;
}
header ul{}
header ul li{}
header ul li a{
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
}
header ul li a::after{
    content: " ";
    width: 100%;
    background: black;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transition:all 0.2s cubic-bezier(0.19, -0.39, 0.63, 1.55);
}

header ul li a:hover::after{
    transform: scaleX(0.8);

}


header ul li a:hover{
    color: #000;

}


.banner-content{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
    width: 100%;
    text-align: center;
}
.banner-content h3{
    font-family: 16px;
}
.banner-content h1{
    font-size: 4em
}
.btn-custom{
    border: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    padding: 10px 40px;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    transition:all 0.2s cubic-bezier(0.19, -0.39, 0.63, 1.55);
    overflow: hidden;
    font-weight: 300;

}

.btn-custom:hover{
    color: #fff;
    font-weight: 400;
}
.btn-custom::after{
    content: " ";
    width: 30px;
    height: 100px;
    position: absolute;
    top: -25px;
    left: -50px;
    right: 0;
    background: #fff;
    transform: rotate(-25deg);
    transition:all 0.5s;
}
.btn-custom:hover::after{
    top: -25px;
    left: 111%;
    transform: rotate(25deg);
}


footer{}
.text{
    text-align: center;
    margin-top: 9%;
    margin-bottom: 5%;
}
.text h1{
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 5px;
    padding-bottom: 21px;
}
.text span{text-transform: lowercase;
    font-weight: 300;
    line-height: 1.7em;
}

footer{}
.brand{
    margin-top: 10%;
    margin-bottom: 4%;
}
.brand h1{
    font-weight: 400;
    letter-spacing: 4px;
    text-align: center;
    font-size: 35px;
}

section{}
.align-section{
    padding-bottom: 10%;
}
.align-section img{
    max-height: 525px;
    min-height: 525px;
}
.align-section footer{
    text-align: center;
}
.align-section h3{
    padding: 45px 0;
    font-size: 18px;
    font-weight: 700;
}


.align-section .btn-custom{
    border: 1px solid #000;
    border-radius: 0;
    color: #000;
    padding: 10px 40px;
    text-transform: uppercase;
    position: relative;
    transition:all 0.2s cubic-bezier(0.19, -0.39, 0.63, 1.55);
    overflow: hidden;
    letter-spacing: 3px;
    font-size: 13px;
}


.align-section .btn-custom:hover{
    color: #000;
}


.align-section .btn-custom::after{
    content: " ";
    width: 30px;
    height: 100px;
    position: absolute;
    top: -25px;
    left: -50px;
    right: 0;
    background: #000;
    transform: rotate(-25deg);
    transition:all 0.5s;
}

.align-section .btn-custom:hover::after{
    top: -25px;
    left: 111%;
    transform: rotate(25deg);
}

.joom-section{
    padding-bottom: 0%;
}
.joom-section .container{}


.gallery{
    position: relative;
    overflow: hidden;
    margin-bottom: 15%;
}
.gallery::after{
    content: " ";
    position: absolute;
    background: #04040454;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.gallery h2{
    position: absolute;
    bottom: -9px;
    left: 25px;
    color: #fff;
    z-index: 1;
    font-weight: 100;
    text-transform: uppercase;
    transition:all 0.4s ease-in-out;
}

.gallery:hover h2{
    opacity: 0;
}
.gallery a{
    color: #fff;
    bottom: 1px;
    left: 25px;
    font-size: 2em;
    z-index: 1;
    position: absolute;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 1;
    opacity: 0;
}
.gallery:hover a{
    opacity: 1;
    text-decoration: none;
    transition:all 0.4s ease-in-out;
}


.gallery::before{
   content: " ";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   right: 0;
   height: 100%;
   transform: scale(0.9 );
   border: 1px solid #fff;
   z-index: 1;
   transition: all 0.3s ease-in-out;
   opacity: 0;
   transition-duration: 0.7s;
}


.gallery:hover::before{
    opacity: 1;
}


.gallery img{
    transition:all 0.6s ease-in-out;

}

.gallery:hover img{
    transform: scale(1.1)

}


.list-section{
    text-align: center;
}
.list-section .container{
    padding-bottom: 10%;
}
.list-section h1{
    font-size: 23px;
    letter-spacing: 4px;
    font-weight: 400;
    margin-bottom: 6%;
}
.list-section img{
    min-width: 255px;
    min-height: 325px;}

.list-section footer{
    margin-top: 18px;
}

.list-section a{
    text-decoration: none;
    color: #000000f5;
    font-size: 16px;
    font-weight: 400;
}
.list-section a:hover{
    color: #a50d0de8;
    transition-duration: 0.4s;
}
.list-section h6{
    font-weight: 400;
}   

.footer-section{
    background-color: #000000d9;
}
.footer-section .container{
    padding-top: 10%;
    padding-bottom: 2%;
    color: #fff;
}
.footer-section h3{}
.footer-section h5{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}
.footer-section h6{
    font-size: 15px;
    font-weight: 400;
}
.footer-section footer{}
.footer-section a{margin: 40px 0;}
.footer-section footer p{
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    margin-top: 7%;
}